<div class="jumbotron bg-white text-center">
  <h1 display-4>Corona-Covid-19 Tracker County Wice</h1>
  <hr>
  <div class="mx-auto">
      <div class="form-group col-lg-5 mx-auto">
        <label for="c">Select Country</label>
        <select name="" class="form-control" id="c" #input (change)="updateValues(input.value)">
          <option >choose country</option>
          <option value={{con}} *ngFor="let con of countries">{{con}}</option>
        </select>
      </div>
  </div>
  <div *ngIf="input.value!== 'choose country'">
  <app-dashboard-card [totalConfirmed]="totalConfirmed" [totalActive]="totalActive" [totalRecovered]="totalRecovered" [totalDeaths]="totalDeaths"> </app-dashboard-card>
  </div>
</div>
<div><div class="card" card row>
  <div class="col dd" >
    <div *ngIf="input.value!== 'choose country'">
    <google-chart [data]="lineChart" #chart></google-chart>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Sno.</th>
        <th>Date</th>
        <th>Cases</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cs of selectedCountryData; index as i">
        <td>{{i+1}}</td>
        <td>{{cs.date | date}}</td>
        <td>{{cs.cases}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
</div>
