<div class="row">
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="value">
    {{totalConfirmed && totalConfirmed}}
      </div>
      <div class="label">
        Confirmed
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="value">
        {{totalRecovered && totalRecovered}}

      </div>
      <div class="label">
        Recovered
      </div>
    </div>
  </div><div class="card col p-3 m-3">
  <div class="ui statistic">
    <div class="value">
    {{totalDeaths && totalDeaths}}
    </div>
    <div class="label">
      Deaths
    </div>
  </div>
</div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="value">
        {{totalActive && totalActive}}

      </div>
      <div class="label">
        Active
      </div>
    </div>
  </div>
</div>
